#revision-list {
  display: flex;
  justify-content: flex-start;
  padding: 40px;
  main {
    padding: 20px;
    background-color: $site-grey;
    flex-basis: 50%;
    section {
      background-color: white;
      h2 {
        padding: 10px;
      }
    }
    section:last-child {
      display: flex;
      flex-direction: column;
      ul {
        list-style-type: none;
        padding: 20px;
        li {
          display: flex;
          justify-content: space-between;
          &:first-child {
            font-weight: 900;
            font-size: 1.2em;
          }
          div {
            padding: 10px;
            flex-basis: 25%;
          }
        }
      }
    }
  }
}
