#revision-list {
  display: flex;
  justify-content: flex-start;
  padding: 40px;
  main {
    background-color: #fff;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    flex-basis: 50%;
    header {
      background-color: get-color('cyan', 700);
      color: white;
      padding: 20px;
      h1 {
        font-weight: 300;
      }
      h2 {
        font-weight: 300;
      }
      span {
        background-color: get-color('green', 300);
        border-radius: 1em;
        color: get-color('grey', 800);
        font-weight: 500;
        padding: 0 12px;
      }
    }
    section {
      display: flex;
      flex-direction: column;
      ul {
        list-style-type: none;
        padding: 20px;
        li {
          display: flex;
          &:first-child {
            font-weight: 900;
            font-size: 1.2em;
            &:hover {
              background-color: #fff;
            }
          }
          &:hover {
            background-color: get-color('grey', 100);
          }
          div {
            padding: 5px;
            display: flex;
            flex-basis: 33%;
            align-items: center;
            overflow-x: wrap;
          }
          button {
            background-color: #26a69a;
            border-radius: 2px;
            border: none;
            box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
            color: #fff;
            cursor: pointer;
            font-size: 16px;
            letter-spacing: .5px;
            line-height: 38px;
            padding: 0 2rem;
            text-align: center;
            text-decoration: none;
            text-transform: uppercase;
            transition: .2s ease-out;
            &:hover {
              background-color: #2bbbad;
              box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15);
            }
            &:disabled {
              background-color: get-color('green', 300);
              color: get-color('grey', 800);
              &:hover {
                background-color: get-color('green', 300);
                box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
                cursor: default;
              }
            }
          }
        }
      }
    }
  }
}
