#top-bar {
  background-color: $site-blue;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  p {
    a {
      font-size: 1.8em;
      font-weight: 600;
      border: none;
      text-decoration: none;
      color: white;
    }
  }
}
